SECRET_KEY = "django-secret-key"

DEBUG = True

ALLOWED_HOSTS = ["*"]

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "HOST": "localhost",
        "PORT": "5432",
        "NAME": "visit_shops",
        "USER": "visit_shops",
        "PASSWORD": "visit_shops",
    }
}

INTERNAL_IPS = ["127.0.0.1"]
